<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="br.com.vizir.rn.paypal">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.CAMERA" />

  <uses-feature android:name="android.hardware.camera" />
  <uses-feature android:name="android.hardware.camera.autofocus" />

  <application android:allowBackup="true">
  </application>
</manifest>
